/* Dark background */
.darkBG {
    background-image: linear-gradient(rgba(46, 46, 46, 0.9), rgba(46, 46, 46, 0.9)), url(../img/NYC.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#hero .container {
    height: 50vh;
}

.generic {
    padding: 100px 0;
}

#more-info .container {
    height: 100vh;
}

.nav-link:hover {
    background-color: rgb(166, 166, 185);
}